.widget-options .wrap-select .select-description{
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #0085BA;
    padding-right: 5px;
    text-indent: 0px;
    cursor: help;
}
.widget-options .wrap-select .select-description:before {
    content: '';
    position: absolute;
    top: -.3em;
    left: 0;
    right: 0;
    height: .4em;
}
.widget-options .wrap-select .select-description:hover span{
    visibility: visible;
}
.widget-options .wrap-select .select-description span{
    position: absolute;
    bottom: 100%;
    left: -5em;
    right: -5em;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 20em;
    max-height: 80vh;
    overflow: auto;
    visibility: hidden;
    margin: 0 auto 0.4em;
    padding: .3em;
    border: solid rgb(200,200,200);
    font-size: 16px;
    background: #fff;
    line-height: normal;
    cursor: auto;
}
.widget-options .wrap-select{
    margin-bottom: 15px;
}
.widget-options input, select{
    width: 100%;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.select-callback{
    width: 74%;
}
.spoiler-widget-options{
    cursor: pointer;
}
.widget-options .remove-wrap-select,  .widget-options .add-wrap-select {
    float: right;
    font-size: 38px;
    font-weight: bold;
    width: 8%;
    margin-left: 5px;
    text-align: right;
    cursor: pointer;
}
.widget-options .add-wrap-select{
    color: #0085BA;
}
.widget-options .remove-wrap-select{
    color: #ba0000;
}